#boot{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;

}
#hover{
  transition:transform 0.5s ease-in-out;
 cursor: pointer;
}
#hover:hover{
 transform: rotate(360deg);
}
#in{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 24px;

}
.container{
  text-align: center;
  margin-top: 50px;
}
.content{
  background-color: #f8f9fa;
  padding: 20px;
  border: 2px solid;
  border-radius:10px ;
  display: inline-block;
}
.i{
  color: white;
  background-image: url("https://cdn.wallpapersafari.com/52/79/jTiXfg.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.io{
  display: block;
  justify-content: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid;
  width: 300px;
  position: relative;
  left: 600px;
}
#zero{
  border: 2px none;
  width: 400px;
}
#zero:hover{
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/041/601/775/original/ida-franzen-karlsson-background-animation.gif?1632167232");
  background-position: center;
  background-repeat: no-repeat;
background-size: cover;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px blueviolet;
  color: white;
}
.well{
  display: block;
  text-align: center;
  background-color: green;
}
.come{
  display: block;
  text-align: center;
  background-color: red;
}